%svg-common {
	background: url("../svg/sprite.svg") no-repeat;
}

.svg-close {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-close-dims {
	width: 58px;
	height: 58px;
}

.svg-lab {
	@extend %svg-common;
	background-position: 25.663716814159294% 0;
}

.svg-lab-dims {
	width: 42px;
	height: 42px;
}

.svg-mail {
	@extend %svg-common;
	background-position: 44.24778761061947% 0;
}

.svg-mail-dims {
	width: 42px;
	height: 42px;
}

.svg-pen {
	@extend %svg-common;
	background-position: 62.83185840707964% 0;
}

.svg-pen-dims {
	width: 42px;
	height: 42px;
}

.svg-star {
	@extend %svg-common;
	background-position: 81.41592920353982% 0;
}

.svg-star-dims {
	width: 42px;
	height: 42px;
}

.svg-user {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-user-dims {
	width: 42px;
	height: 42px;
}

