/* *************************************
//   BANNERS  [modules/_banners.scss]
//   Individual banner styles for product pages
/* ************************************* */


/* -------------------------------------
//   iiNet plan pages banner
/* ------------------------------------- */
#product_page_redesign {
	.title { 
		padding: 15px;	
		background: rgba(255, 255, 255, 0.8); 
		@media (min-width: 1360px) {
			background: none;
		}
		h1 { 
			background: none; 
			color: $grey-6; 
			line-height: 1.3em;
			margin-top: -10px;
			@media (min-width: 353px) {
				margin-top: 0;
				line-height: inherit;
			}
			@media (min-width: 992px) {
				margin-top: -10px;	
			}				
		}
	}

	.intro-effect-jam3.modify .title { 
		background: none; 
		h1 { 
			padding: 0; 
		}	
	}

	.bg-img img { 
		top: 0; 
		right: -150px; 			
		width: 1300px; 
		@media (min-width: 400px) {
			right: 0px;				
			width: 1100px; 
		}
		@media (min-width: 768px) {
			width: auto;
		}
		@media (min-width: 992px) {
			right: -50px;
		}
		@media (min-width: 1360px) {
			right: 0;
		}
	}
	
	.intro-effect-jam3.modify .bg-img img { 
		top: -10px; 
		right: 0; 
		width: 400px; 
		@media (min-width: 400px) {
			width: 100%; 
		}		
		@media (min-width: 768px) {
			top: -70px; 
			right: 0px; 
			width: auto; 
		}		
		@media (min-width: 992px) {
			right: -50px;
		}		
		@media (min-width: 1360px) {
			right: 0;
		}			
	}			
}


/* -------------------------------------
//   Mobii Manager banner
/* ------------------------------------- */
#mobii_manager {
	.title h1 {
		background: rgba(255, 255, 255, 0.8); 
		color: $grey-6; 
		padding: 15px; 
	}

	.intro-effect-jam3.modify .title { 
		h1 {
			background: none;
			@media (min-width: 992px) {
				background: none;
				margin-top: -10px; 
			}
		}
	}
	
	.bg-img {	
		background: rgba(247,143,29,.4); 
		background: -webkit-linear-gradient(to left, rgba(247,143,29,.3), rgba(189,18,52,.3)); 
		background: linear-gradient(to left, rgba(247,143,29,0.3), rgba(189,18,52,0.3)); 
		img { 
			top: 20px; 
			right: -160px; 
			min-width: auto; 
			min-height: auto; 
			width: 725px;
			@media (min-width: 768px) {
				top: 90px; 
				right: 0px;
			}
			@media (min-width: 992px) {
				right: 30px; 
			}
			@media (min-width: 1670px) {
				right: 10%; 
			}
		}	
	}			
 
	.intro-effect-jam3.modify .bg-img img { 
		top: 0px;
		right: -40px; 			 
		width: 400px; 
		@media (min-width: 768px) {
			right: -20px; 				
			width: 582px; 
		}		
		@media (min-width: 992px) {
			top: -40px;
			right: 80px;
			width: 650px;
		}
		@media (min-width: 1670px) {
			right: 10%; 
			top: 0px; 
			width: 640px; 		
		}			
	}
}



/* -------------------------------------
//   Multicomm banner
/* ------------------------------------- */
#multicomm {
	.title { 
		padding: 15px;	
		background: rgba(99, 99, 98, 0.6); 
		h1 { 
			background: none; 
			@media (min-width: 992px) {
				text-shadow: 1px 1px 2px $grey-6;
			}
		}
	}

	.intro-effect-jam3.modify .title { 
		background: none; 
		h1 { 
			padding: 0; 
			@media (min-width: 992px) {
				text-shadow: none; 
				margin-top: -10px; 
			}
		}
	}

	.bg-img img { 
		right: -100px; 
		top: 0; 
		width: 1100px; 
		@media (min-width: 400px) {
			right: -20px;
		}	
		@media (min-width: 768px) {
			width: auto;
		}
		@media (min-width: 992px) {
			right: 0px;
		}
	}

	.intro-effect-jam3.modify .bg-img img { 
		top: 0; 
		right: 0; 
		width: 400px; 
		@media (min-width: 768px) {
			top: -40px; 
			right: 0px; 
			width: auto;
		}
	}
}



/* -------------------------------------
//   Bankwest banner
/* ------------------------------------- */
#bankwest{
	.title {
		@media (min-width: 1360px) {
			background: none;
		}
		h1 { 
			padding: 15px; 
			color: $grey-6; 
			background: rgba(255, 255, 255, 0.8); 
		}
	}
	.intro-effect-jam3.modify .title {  
		h1 { 
			background: none; 
			//margin-top: -10px; 
			padding: 0; 
			line-height: 1.3em;
			@media (min-width: 375px) {
				// margin-top: 0px; 
				padding: 15px 0; 
				line-height: inherit;
			}
			@media (min-width: 768px) {
				// margin-top: 0px; 
				padding: 0; 
			}			
		}
	}

	.bg-img {	
		background: #efefef;  /* fallback for old browsers */
		background-image: linear-gradient(to top, #ffecd2 0%, #fcb69f 100%); /*juicy peach */
		border-bottom: 1px solid #dfdfdf;
		/*background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
		background-blend-mode: screen;*/ /*elegance */	
		img { 
			min-width: auto; min-height: auto;
			width: 500px; 
			right: -150px; 
			top: 70px; 
			@media (min-width: 375px) {
				right: -80px; 
				top: 70px;
			}
			@media (min-width: 768px) {
				width: 600px;
				right: 0;
				top: 120px;
			}
			@media (min-width: 992px) {
				right: -50px;
			}
			@media (min-width: 1360px) {
				width: 700px; 
				top: 10px; 
				right: 50px;
			}
		}	
	}

	.intro-effect-jam3.modify .bg-img img { 
		top: -40px; 
		right: 20px; 
		width: 320px; 
		@media (min-width: 768px) {
			top: -40px; 
			right: 30px; 
			width: 400px; 
		}
		@media (min-width: 992px) {
			right: 50px; 
		}
		@media (min-width: 1360px) {
			right: 15%; 
			top: -90px;
			width: 500px;	
		}
	}
}



/* -------------------------------------
//   Fetch banner
/* ------------------------------------- */
#fetch {
	.title h1 {
		background: rgba(55, 55, 55, 0.8); 
		color: #fff; 
		padding: 15px; 
		@media (min-width: 1360px) {
			background: none;
		}		
	}

	.intro-effect-jam3.modify .title { 
		//top: 160px; 
		@media (min-width: 768px) {
			//top: 230px; 
		}
		@media (min-width: 992px) {
			//top: 250px; 
		}		
		h1 {
			background: none;
			color: $grey-6; 
			padding: 0;			
			@media (min-width: 992px) {
				background: none;
				margin-top: -10px; 
			}
		}
	}
	
	.bg-img {	
		background: rgba(247,143,29,.4); 
		background: -webkit-linear-gradient(to left, rgba(0,155,228,.6), rgba(241,12,105,.6)); 
		background: linear-gradient(to right, rgba(0,155,228,.8), rgba(241,12,105,.3)); 
		img { 
			top: 60px; 
			right: -160px; 
			min-width: auto; 
			min-height: auto; 
			width: 400px;
			@media (min-width: 640px) {
				right: 0px;
			}
			@media (min-width: 768px) {
				right: -40px;
				top: 90px;
				width: 500px;
			}
			@media (min-width: 992px) {
				right: 0px; 
				top: 100px;
			}
			@media (min-width: 1360px) {
				top: 70px;
				right: 7%; 
				width: 550px;
			}
			@media (min-width: 1600px) {
				top: 50px;
				right: 15%; 
				width: 600px;
			}			
		}	
	}			
 
	.intro-effect-jam3.modify .bg-img img { 
		top: 0px;
		right: -40px; 			 
		width: 400px; 
		@media (min-width: 600px) {
			right: 0px; 				
		}		
		@media (min-width: 768px) {
			right: 10%; 				
			width: 550px; 
		}		
		@media (min-width: 1360px) {
			right: 15%; 		
		}			
	}
}