/* *************************************
//   BANNERS  [modules/_banners.scss]
//   Banner styles for product pages
/* ************************************* */


/* -------------------------------------
//   Mobii Manager banner
/* ------------------------------------- */

/*
.bg-img {	
	background: rgba(247,143,29,.4); 
	background: -webkit-linear-gradient(to left, rgba(247,143,29,.3), rgba(189,18,52,.3)); 
	background: linear-gradient(to left, rgba(247,143,29,0.3), rgba(189,18,52,0.3)); 
}	

.bg-img img { 
	top: 20px; 
	right: -160px; 
	width: 725px;
	min-width: auto; 
	min-height: auto; 	
	@media (min-width: 768px) {
		top: 90px; 
		right: -60px;
	}
	@media (min-width: 960px) {
		right: 0px;
	}
	@media (min-width: 1670px) {
		right: 10%;
	}
}	

.intro-effect-jam3.modify .bg-img img { 
	top: 0px;
	right: -40px; 			 
	width: 400px; 
	@media (min-width: 768px) {
		top: 0px; 
		right: -20px; 				
		width: 582px
	}
	@media (min-width: 960px) {
		right: 80px;
	}
	@media (min-width: 1670px) {
		top: 0px;
		right: 10%; 		 
		width: 640px;
	}	
}

.title h1 {	background: #fcfcfc; color: #636362; padding: 15px; 
	@media (min-width: 1670px) {
		background: none; 
	}
}

.intro-effect-jam3.modify .title h1 {
	@media (min-width: 960px) {
		background: none;
		margin-top: -10px; 
	}
}		
*/