/* *************************************
//   FORMS  [modules/_forms.scss]
//   Styling for common form elements
/* ************************************* */

input, 
optgroup, 
select, 
textarea {
  font-family: $font-family-primary;
  font-size: 1rem;
  color: $paragraph-color;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 4em;
  background-color: #fff;
  border: 1px solid $grey-border;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; 
}
		  
textarea {
  min-height: 10em;
  padding-top: 0.5em;
  padding-bottom: 0.5em; 
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid $brand-primary;
  outline: 0; 
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 400; 
}

fieldset {
  padding: 0;
  border-width: 0; 
}

input[type="checkbox"],
input[type="radio"] {
  display: inline; 
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; 
}


/* ----- Codrops formatting for dynamic input fields ----- */

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em 0;
  	width: 100%;
	vertical-align: top;
	background: #fff;
	overflow: hidden;  
}

/*.input::after {
	content: '';
	width: 1px;
	position: absolute;
	top: 0.5em;
	bottom: 0.5em;
	left: 2.5em;
	background: $brand-primary;
	z-index: 100;
}*/

.input__icon {
	//background: url("../../svg/sprite.svg") no-repeat;
	background-position: 4.1015625% 0;
	height: 32px; 
	width: 32px;
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 1em 0 0 0.5em;
	display: none;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	-webkit-appearance: none; /* for box shadows to show on iOS */
	background: transparent;
	padding: 1.5em 1em 0.25em 2em;
	width: 100%;
	color: $grey-2;
}

textarea.input__field {
  padding-top: 1.9em;
}

.input__label {
	display: inline-block;
	float: right;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	width: 100%;
	text-align: left;
	padding-left: 2em;
	pointer-events: none;
}

.input__label-content {
	position: relative;
	width: 100%;
	padding: 1em 0;
	display: inline-block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.input__label-content span {
	display: inline-block;
}

.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content {
	-webkit-animation: anim-form 0.3s forwards;
	animation: anim-form 0.3s forwards;
}

@-webkit-keyframes anim-form {
	100% {
		color: $brand-primary;
		-webkit-transform: translate3d(0, -.6em, 0) scale3d(0.85, 0.85, 1);
		transform: translate3d(0, -.25em, 0) scale3d(0.75, 0.75, 1);
	}
}

@keyframes anim-form {
	100% {
		color: $brand-primary;
		font-weight: 600;
		-webkit-transform: translate3d(0, -.6em, 0) scale3d(0.85, 0.85, 1);
		transform: translate3d(0, -.25em, 0) scale3d(0.75, 0.75, 1);
	}
}

/* ----- Inline validation styles ----- */
#input-name.input-error,
#input-email.input-error,
#input-message.input-error {
	border-color: $brand-warning;
}
#input-name.input-valid,
#input-email.input-valid,
#input-message.input-valid {
	border-color: $brand-success;
}
.input-name__validation,
.input-email__validation,
.input-message__validation{ 
	display: none; 
	color: $brand-warning; 
}
textarea { resize: none; }



/* ----- Form validation icons ----- */
$form-icon-success: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNoZWNrIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDYxMiA3OTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYxMiA3OTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiM1Q0I4NUMiIGQ9Ik0yMzMuOCw2MTAuMWMtMTMuMywwLTI1LjktNi4yLTM0LTE2LjlMOTAuNSw0NDguOEM3Ni4zLDQzMCw4MCw0MDMuMyw5OC44LDM4OS4xYzE4LjgtMTQuMyw0NS41LTEwLjUsNTkuOCw4LjNsNzEuOSw5NWwyMjAuOS0yNTAuNWMxMi41LTIwLDM4LjgtMjYuMSw1OC44LTEzLjZjMjAsMTIuNCwyNi4xLDM4LjcsMTMuNiw1OC44TDI3MCw1OTBjLTcuNCwxMi0yMC4yLDE5LjQtMzQuMywyMC4xQzIzNS4xLDYxMC4xLDIzNC41LDYxMC4xLDIzMy44LDYxMC4xeiIvPjwvc3ZnPg==";
$form-icon-warning: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9Ildhcm5pbmciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNjEyIDc5MiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNjEyIDc5MiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZmlsbD0iI0YwQUQ0RSIgZD0iTTYwMyw2NDAuMmwtMjc4LjUtNTA5Yy0zLjgtNi42LTEwLjgtMTAuNi0xOC41LTEwLjZzLTE0LjcsNC4xLTE4LjUsMTAuNkw5LDY0MC4yYy0zLjcsNi41LTMuNiwxNC40LDAuMiwyMC44YzMuOCw2LjUsMTAuOCwxMC40LDE4LjMsMTAuNGg1NTcuMWM3LjUsMCwxNC41LTMuOSwxOC4zLTEwLjRDNjA2LjYsNjU0LjYsNjA2LjcsNjQ2LjYsNjAzLDY0MC4yeiBNMzM2LjYsNjEwLjJoLTYxLjJWNTQ5aDYxLjJWNjEwLjJ6IE0zMzYuNiw1MDMuMWgtNjEuMlYzMDQuMmg2MS4yVjUwMy4xeiIvPjwvc3ZnPg==";
$form-icon-error: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNyb3NzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDYxMiA3OTIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYxMiA3OTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNEOTUzNEYiIGQ9Ik00NDcsNTQ0LjRjLTE0LjQsMTQuNC0zNy42LDE0LjQtNTEuOSwwTDMwNiw0NTEuN2wtODkuMSw5Mi43Yy0xNC40LDE0LjQtMzcuNiwxNC40LTUxLjksMGMtMTQuNC0xNC40LTE0LjQtMzcuNiwwLTUxLjlsOTIuNC05Ni40TDE2NSwyOTkuNmMtMTQuNC0xNC40LTE0LjQtMzcuNiwwLTUxLjlzMzcuNi0xNC40LDUxLjksMGw4OS4yLDkyLjdsODkuMS05Mi43YzE0LjQtMTQuNCwzNy42LTE0LjQsNTEuOSwwYzE0LjQsMTQuNCwxNC40LDM3LjYsMCw1MS45TDM1NC43LDM5Nmw5Mi40LDk2LjRDNDYxLjQsNTA2LjgsNDYxLjQsNTMwLDQ0Nyw1NDQuNHoiLz48L3N2Zz4=";



/* ----- Post submit styles ----- */
.thankyou-msg {
	color: $brand-success; 
	border: 1px solid $brand-success; 
	padding: 10px 14px; 
	margin: 15px auto; 
	width: 50%;
	min-width: 270px;
	text-align: center; 
	background: #fdfffd none repeat scroll 0px 0px;
}

