/* *************************************
//   ICONS  [modules/_icons.scss]
//   Icons used throughout site that aren't part of icon font. SVG and PNG versions must both be maintained
/* ************************************* */

.icon {
	fill: #fff;
}

footer .icon {
	fill: #000;
}

/* ----- social icons ----- */

.social-icon {
	position: relative;
	float: left;
	padding-right: 2px;
	margin-top: 6px;
	display: none;
	transition: all 0.25s;
	@media (min-width: 992px) {
		display: inline-block;
	}
	&__bg {
		height: 36px;
		width: 36px;
		background: #fff;
		opacity: 0.25;
		padding: 10px;
		transition: all 0.25s;
		&--transparent {
			opacity: 0.2;
			@media (min-width: 992px) {
				opacity: 0;
			}
		}
	}
	&__svg {
		position: absolute;
		top: 8px;
		left: 8px;
		transition: all 0.25s;
		&--linkedin,
		&--facebook,
		&--twitter,
		&--pinterest,
    &--github {
			.icon {
				transition: all 0.25s;
			}
			&:hover {
				transition: all 0.25s;
			}
		}
		&--linkedin:hover .icon {
			fill: #0077b5;
		}
		&--facebook:hover .icon {
			fill: #3b5998;
		}
		&--twitter:hover .icon {
			fill: #1da1f2;
		}
		&--pinterest:hover .icon {
			fill: #bd081c;
		}
		&--github:hover .icon {
			fill: #333;
		}      
	}
}

.social-icon:hover .social-icon__bg {
	opacity: 0.5;
	transition: all 0.25s;
	&--transparent {
		opacity: 0.2;
		transition: all 0.25s
	}
}

.social-wrapper {
	width: 240px;
	display: block;
	margin: 0 auto;
	padding-left: 8px;
}

.social-icon-footer {
	position: relative;
	float: left;
	padding-right: 2px;
	margin-top: 6px;
	display: inline-block;
	width: 20%;
}



/* ----- icons in left nav ----- */

.icon {
	display: inline-block;
	margin: 0 28%;
	@media (min-width: 560px) {
		margin: 1px 10px -15px 0;
	}
	@media (min-width: 768px) {
		margin: 0 10px;
	}
}

.icon-home { stroke-width: 1px; }

.icon-briefcase,
.icon-about,
.icon-contact {
	fill: none;
	stroke: #fff;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 1px;
}



/* ----- grid icon ----- */

.grid-icon {
	transition: all 0.25s;
	display: inline-block;
	position: relative;
	top: -28px;
	svg path {
		transition: all 0.3s;
		fill: $grey-6;
	}
	&:hover {
		transform: scale(1.1);
		transition: all 0.25s;
		svg path {
			transition: all 0.25s;
			fill: #000;
		}
	}
}