/* *************************************
//   ICONS  [modules/_icons.scss]
//   Icons used throughout site that aren't part of icon font. SVG and PNG versions must both be maintained
/* ************************************* */

/*.icon {
    display: inline-block;
   // height: 32px;
    //width: 32px;	
    margin: 1px 10px -15px 0;
}
@media (max-width: 991px) {
	.icon {
    margin: 0 10px;
	}
}
@media (max-width: 991px) {
	.icon {
    margin: 0;
	}
}


/* ----- social icons ----- */

.social-icon { 
	position: relative; 
	float: left; 
	padding-right: 2px; 
	margin-top: 6px;
	display: inline-block;
		
}

.social-icon__bg {
	height: 40px; 
	width: 40px; 
	background: #fff; 
	opacity: 0.3; 
	padding: 10px;
	transition: all 0.25s;
}

.social-icon:hover .social-icon__bg {
	opacity: 0.5;
	transition: all 0.25s;
}

.social-icon__bg--transparent {
	opacity: 0;
}

.social-icon:hover .social-icon__bg--transparent {
	opacity: 0.2;
	transition: all 0.25s;
}

.social-icon__svg {
	position: absolute; 
	top: 10px; 
	left: 10px;

}

.social-icon__copy {
	font-size: 1em; 
	font-weight: 100; 
	color: #fff;
	text-transform: none; 
}

@media (max-width: 991px) {
  .social-icon__copy,
	.social-icon {
    display: none;
  }  
}

