/* *************************************
//   ICONS  [modules/_icons.scss]
//   Icons used throughout site that aren't part of icon font. SVG and PNG versions must both be maintained
/* ************************************* */

.icon {
    display: inline-block;
   // height: 32px;
    //width: 32px;	
    margin: 1px 6px -15px 0;
}

.no-svg .icon {}

.icon__facebook           { background-position: -100px -150px; }
.icon__twitter            { background-position: -125px -150px; }
.icon__linkedin           { background-position: -150px -150px; }