/* *************************************
//   IMAGES  [modules/_images.scss]
//   
/* ************************************* */


img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-center {
	display: block;
	margin: auto;
}
.img-rounded {
  border-radius: 16px;
}
.img-frame {
  padding: 0.5em;
  line-height: 1.428571429;
  background-color: white; //$grey-background;
  border: 1px solid $grey-border;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
	width: 100%;
	border: 0.5em solid #fff;
}
.img-shadow {
	max-width: 100%; 
	box-shadow: 0px 15px 25px $grey-6;
}

.profile-pic { 
	width: 90%; 
	width: 180px; 
}

.lazy-load--loading {
  background: none !important;
  border: none !important;
  box-shadow: none !important;  
  height: 40px;
  max-width: 40px !important;
  padding: 0 !important;
  width: 40px;
}
