/* *************************************
//   LISTS  [modules/_lists.scss]
//   Styling for ordered and unordered lists - up to 2 levels deep
/* ************************************* */


ul {
  list-style: inside circle;
}
ol {
  list-style: inside decimal;
}
ol, ul {
  margin-top: 0;
  padding-left: 0;
}
ul ul, ul ol, ol ol, ol ul {
  font-size: 90%;
  margin: 1rem 0 1.5rem 2rem;
}

ul ul {
  list-style: inside disc;
}
ol ol {
  list-style: inside lower-alpha;
}

li {
  margin-bottom: 0.75rem;
}






