/* *************************************
//   SKELETON  [modules/_skeleton.scss]
//   Skeleton layout while page loads
/* ************************************* */


/* ----- navigation ----- */
.skeleton__aside { 
	height: 60px; 
	margin: 0; 
	width: 100%;
	background: $grey-d;
	position: fixed;
	top: 0;
	@media (min-width: 992px) {
		width: 230px;
		height: 100vh;
		margin: 1.5vw;	
	}
}
.skeleton__logo { 
	width: 90px;
	height: 90px;
	background: #fff;
	margin: 70px auto 160px;
	transform: rotate(45deg);
	opacity: 0.6;
	@media (max-width: 991px) { 
		display: none; 
	}
}
.skeleton__nav { 
	margin: 30px auto; 
	background: #fff; 
	width: 60%; 
	height: 20px; 
	opacity: 0.5; 
	@media (max-width: 991px) { 
		display: none; 
	}
}


/* ----- homepage ----- */
.skeleton__homepage { 
	margin-left: 230px; 
	text-align: center; 
	padding: 30vh 10vh; 
	@media (max-width: 991px) {
		margin-left: 0px;
	}
}
.skeleton__bar1 { 
	height: 70px; 
	background: $grey-d; 
	width: 50%; 
	margin: 40px auto; 
	@media (max-width: 991px) {
		width: 100%; 
		height: 30px; 
		margin: 30px auto;
	}
}
.skeleton__bar2 { 
	height: 30px; 
	background: $grey-d; 
	width: 70%; 
	margin: 50px auto 100px;  
	@media (max-width: 991px) {
		width: 75%; 
		height: 70px; 
		margin: 20px auto;
	}
}


/* ----- project pages ----- */