/* *************************************
//   TYPE  [modules/_type.scss]
//   styles for copy
/* ************************************* */

p {
  color: $paragraph-color;
  line-height: $line-height;
  margin: $paragraph-margin 0;
  font-size: $paragraph-font-size;
	font-weight: $paragraph-font-weight;
}

a {
  color: $link-color;  
  text-decoration: $link-hover-decoration;
  font-weight: 400; 
  transition: all 0.25s;
  @media (min-width: 991px) {
	  text-decoration: none;
  }
  &:hover, &:focus {
	color: $link-hover-color;
	text-decoration: $link-hover-decoration;
	transition: all 0.25s;
  }
}

strong, b { font-weight: 600; }

em, i { font-style: italic; }

u { 
  text-decoration: none;
  border-bottom: 1px solid $grey-2; 
}

abbr {
  border-bottom: 2px dotted $brand-primary;
  position: relative;
  cursor: help;  
  &:hover::after {
	position: absolute;
	bottom: 100%;
	left: -2%;
	display: block;
	cursor: help;
	padding: 0.5em 1em;
	min-width: 10em;
	background: $grey-background;
	border: 1px solid $grey-border;
	font-size: 0.8em;
	color: $grey-2;
	text-align: center;
	content: attr(title);
  }
}

ins { text-decoration: underline; }

del { text-decoration: line-through; }

::selection {
  background: $brand-primary; /* WebKit/Blink Browsers */
  color: #fff;  
}

::-moz-selection {
  background: $brand-primary; /* Gecko Browsers */
  color: #fff;
}



/* -------------------------------------
//   Headings
/* ------------------------------------- */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-primary;
}

h1, h2,
.h1, .h2 {
	  color: $headings-color;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 0;
  margin-bottom: $headings-margin;
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: ($headings-margin);
}

h1, .h1              { font-size: $font-size-h1; }
h2, .h2              { font-size: $font-size-h2; margin-bottom: 0; }
h3, .h3              { font-size: $font-size-h3; }
h4, .h4              { font-size: $font-size-h4; }
h5, .h5              { font-size: $font-size-h5; }
h6, .h6              { font-size: $font-size-h6; }



/* -------------------------------------
//   Text
/* ------------------------------------- */

/* ----- Alignment ----- */

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }
.text-center-xs		 { text-align: center;		
	@media (min-width: 480px) {	text-align: left; } 	
}

/* ----- Transformation ----- */

.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

/* ----- Font sizes ----- */

.font-xxs            { font-size: 0.7em; }
.font-xs             { font-size: 0.8em; }
.font-sm             { font-size: 0.9em; }
.font-md             { font-size: 1.2em; }
.font-lg             { font-size: 1.5em; }
.font-xl             { font-size: 2.0em; }
.font-xxl            { font-size: 3.5em; }

/* ----- Font weights ----- */

.font-light          { font-weight: 100; }
.font-bold           { font-weight: 400; }
.font-heavy          { font-weight: 600; }

/* ----- Line spacing ----- */

.lh-sm               { line-height: 1em; }
.lh-md               { line-height: 1.2em; }
.lh-lg               { line-height: 1.7em; }
.kern                { letter-spacing: -1px; }




/* -------------------------------------
//   Lists
/* ------------------------------------- */

ul { list-style: inside circle; }
ol { list-style: inside decimal; }
ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;
}
ul ul, ul ol, ol ol, ol ul {
  font-size: $paragraph-font-size;
  margin: 1rem 0 1.5rem 2rem;
}

ul ul { list-style: inside disc; }
ol ol { list-style: inside lower-alpha; }

li {
  font-size: $paragraph-font-size;
  margin-bottom: 0.25rem; 
}



/* -------------------------------------
//    preformatted text (code)
/* ------------------------------------- */

code {
  padding: .1rem .4rem;
  margin: 0 .2rem;
  font-size: 0.8rem;
  font-family: monospace;
  color: $grey-6;
  white-space: nowrap;
  background: $grey-background;
  border: 1px solid $grey-border;
  border-radius: 4px; 
}
  
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; 
}

/*
Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev
*/

.zenburn {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #3f3f3f;
  color: #dcdcdc;
}

.zenburn-keyword,
.zenburn-selector-tag,
.zenburn-tag {
  color: #e3ceab;
}

.zenburn-template-tag {
  color: #dcdcdc;
}

.zenburn-number {
  color: #8cd0d3;
}

.zenburn-variable,
.zenburn-template-variable,
.zenburn-attribute {
  color: #efdcbc;
}

.zenburn-literal {
  color: #efefaf;
}

.zenburn-subst {
  color: #8f8f8f;
}

.zenburn-title,
.zenburn-name,
.zenburn-selector-id,
.zenburn-selector-class,
.zenburn-section,
.zenburn-type {
  color: #efef8f;
}

.zenburn-symbol,
.zenburn-bullet,
.zenburn-link {
  color: #dca3a3;
}

.zenburn-deletion,
.zenburn-string,
.zenburn-built_in,
.zenburn-builtin-name {
  color: #cc9393;
}

.zenburn-addition,
.zenburn-comment,
.zenburn-quote,
.zenburn-meta {
  color: #7f9f7f;
}


.zenburn-emphasis {
  font-style: italic;
}

.zenburn-strong {
  font-weight: bold;
}




/* -------------------------------------
//   Custom classes
/* ------------------------------------- */

.white { color: #fff !important; }

.subheading { 
  font-family: $font-family-secondary;
  color: $grey-2;
  &__hero {
	font-family: $font-family-secondary;
	font-size: 1.5rem;
	color: $grey-2;
	width: 80%;
	margin: 0 auto;
	@media (min-width: 768px) {
		font-size: 2rem;
	} 	
  }
}


/* -------------------------------------
//   Hero heading (used on home page)
/* ------------------------------------- */

.hero-heading {
	font-size: 36px;
	font-weight: 600;
	font-family: $font-family-primary, serif;
	line-height: 1.4em; //text-transform: uppercase;   
	color: $grey-2;
	letter-spacing: 3px;
	width: 90%;
	margin: 0 auto;
	span {
		display: inline-block;
		position: relative;
	}
	@media (min-width: 370px) {
		font-size: 40px;
	}
	@media (min-width: 480px) {
		font-size: 48px;
	}
	@media (min-width: 520px) {
		font-size: 60px;
	}
	@media (min-width: 767px) {
		font-size: 62px;
	}
	@media (min-width: 992px) {
		font-size: 64px;
	}  
	@media (min-width: 1360px) {
		font-size: 88px;
	}
}



/*
.hero-heading span:before,
.hero-heading span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid $grey-6;
  border-top: 1px solid $grey-6;
  top: 45%;
  width: 60px;
} 

.hero-heading span:before {
  right: 100%;
  margin-right: 15px;
}

.hero-heading span:after {
  left: 100%;
  margin-left: 15px;
}

@media (max-width: 767px) {
	.hero-heading span:before,
	.hero-heading span:after {
		width: 30px;
	}
}

@media (max-width: 479px) {
	.hero-heading span:before,
	.hero-heading span:after {
		width: 0px;
	}
}
*/


/* -------------------------------------
//   Tags
/* ------------------------------------- */

.tag {
	font-size: .7em; 
	background: $grey-6;  
	color: #fff;
	border-radius: 6px; 
	display: inline-block; 
	padding: 4px;
	margin: 1px;
	white-space: nowrap;
}

