/* *************************************
//   WORK ITEMS  [modules/_workitems.scss]
//   styles for items that are displayed within the selected works section; works with JQuery Masonry plugin
/* ************************************* */


/* -------------------------------------
//   Work items / articles
/* ------------------------------------- */

.masonry-container {
  margin-top: 40px;
}

.work-item {
  text-align: center;
  width: 32%;
  margin: 10px 0.5%;
  padding: 0em;
  float: left;
	height: 325px;
  border: 1px solid $grey-border; 
  background: #fff;	
}
 
@media (max-width: 1199px) {
  .work-item       { width: 49%; }  
}

@media (max-width: 767px) {
  .work-item       { width: 100%; } 
}

.work-item__heading {
  margin-bottom: 0; 
  margin-top: 1em;
  color: #000;
  text-transform: uppercase;
  font-size: 1em;
	font-weight: 600;
}
 
.work-item__heading:after {
  content: '';
	display: block;  
	position: relative;
  width: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 8px;
  border-bottom: 1px solid $brand-primary;
}

.work-item__content {
  position: relative;
  border: 1px solid #fff;
  padding: 0 1em;
  font-weight: 400;
}

.work-item__content:after, 
.work-item__content:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.work-item__content:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 11px;
	margin-left: -11px;
}

.work-item--dark { background: #404040; color: #fff; }


/* ----- Double elements ----- */

.work-item--2w     { width: 65%; }
@media (max-width: 1199px) {
  .work-item--2w   { width: 99%; }  
}



.work-item--2h     { height: 650px; }

.work-item--2w img {
  max-width: 60%; 
  height: 100%;
  float: right;
}

.work-item--2w .work-item__content:after, 
.work-item--2w .work-item__content:before {
	bottom: 50%;
	left: 100%;
}

.work-item--2w .work-item__content {
  float: left;
  width: 40%;
	height: 100%;
  background: #fff;
	padding-top: 15%;
}

.work-item--2w .work-item__content:before {
	border-color: rgba(255, 255, 255, 0); 
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;  
  border-left: 11px solid #fff;
	margin-left: 0px;
}

.work-item--2w .work-item img {
  max-width: 50%; 
  max-height: 100%;
  float:left;
}
