/* *************************************
//   CONTENT  [layout/_content.scss]
//   classes for wrappers, containers that aren't bootstrap
/* ************************************* */

/* -------------------------------------
//   Wrappers
/* ------------------------------------- */


.wrapper {
  margin: 1.5vw 1.5vw 0 1.5vw;
	opacity: 0; 
	transition: opacity 500ms;
}
@media (max-width: 991px) {
  .wrapper {
      padding-top: 60px;
  }
  .wrapper--footer {
      padding-top: 0px;
  }	
}

.wrapper__outer {
  padding-left: 270px;
  height: 100%;
}
@media (max-width: 991px) {
  .wrapper__outer {
      height: 100%;
      padding-left: 0px;
  }
}

.hero-content {
  background: url('../img/perth-bg-new.png') $grey-background;
  min-height: 94vh;
  background-position: center 15px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 70px;
	@media (max-width: 991px) {
			min-height: 80vh;
	}
	@media (max-width: 768px) {
			text-align: center; 
			padding: 10vh 0;  
			height: 80vh;
	}
	@media (max-width: 480px) {
			text-align: center; 
			padding: 14vh 0;  
			height: 80vh;
	}	
}

.hero-content__bg {
	text-align: center; 
	padding: 30vh 10vh;  
	height: 100vh;
}
@media (max-width: 768px) {
	.hero-content__bg {
		text-align: center; 
		padding: 12vh 2vh;  
		height: 70vh;
	}
}

.selected-works { z-index: 1; }