/* *************************************
//   CONTENT  [layout/_content.scss]
//   classes for wrappers, containers that aren't bootstrap
/* ************************************* */

/* -------------------------------------
//   Wrappers
/* ------------------------------------- */

.wrapper { 
	position: relative;
	&__outer {
		margin: 1.5vw 1.5vw 0 1.5vw;
		opacity: 0; 
		transition: opacity 500ms;
		@media (max-width: 991px) {
			padding-top: 60px;
		}
	}
	&__inner {
		padding-left: 230px;
		height: 100%;
		@media (max-width: 991px) {
		  height: 100%;
		  padding-left: 0px;
		}
	} 
}

/*.wrapper__outer {
 	margin: 1.5vw 1.5vw 0 1.5vw;
	opacity: 0; 
	transition: opacity 500ms;
	@media (max-width: 991px) {
			padding-top: 60px;
	}
}
.wrapper__inner {
	padding-left: 230px;
	height: 100%;
	@media (max-width: 991px) {
	  height: 100%;
	  padding-left: 0px;
	}
}*/

.hero-content {
	background: url('../img/perth-bg.min.jpg') $grey-background;
	min-height: 94vh;
	background-position: center 15px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin-bottom: 0px;
	@media (max-width: 991px) {
		min-height: 80vh;
	}
	@media (max-width: 768px) {
		text-align: center; 
		padding: 10vh 0;  
		height: 80vh;
	}
	@media (max-width: 480px) {
		text-align: center; 
		padding: 14vh 0;  
		height: 80vh;
	}	
	&__bg {
	text-align: center; 
	padding: 30vh 10vh;  
	height: 100vh;
	@media (max-width: 768px) {
		text-align: center; 
		padding: 12vh 2vh;  
		height: 70vh;
	}	
}

/*.hero-content__bg {
	text-align: center; 
	padding: 30vh 10vh;  
	height: 100vh;
	@media (max-width: 768px) {
		text-align: center; 
		padding: 12vh 2vh;  
		height: 70vh;
	}
}*/

.selected-works, 
.about, 
.contact-me { 
	margin-bottom: 70px; 
	padding-top: 60px;
}

.nav-slide { margin-top: 150px; } 

.thankyou-msg {
	color: $brand-success; 
	border: 1px solid $brand-success; 
	padding: 10px 14px; 
	margin: 15px auto; 
	width: 50%;
	min-width: 270px;
	text-align: center; 
	background: #fdfffd none repeat scroll 0px 0px;
}