/* *************************************
//   FOOTER  [layout/_footer.scss]
//   common styles for the global footer
/* ************************************* */

footer { 
  background: #fff;
  height: 200px;
  margin-top: 40px;
  padding: 10px 0;
  border-top: 1px solid $grey-border;
}

/* Move footer up on project pages to allow for transition */
.project-page footer { margin-top: -140px; }

.footer__logo {
  height: 30px;
  opacity: 0.5;
}