/* *************************************
//   UTILITIES  [layout/_utilities.scss]
//   utility classes for spacing
/* ************************************* */

/* -------------------------------------
//   Spacing
/* ------------------------------------- */

/* ----- Padding ----- */

.pad-left-0          { padding-left:0px !important; }
.pad-right-0         { padding-right:0px !important; }
.pad-lr-5            { padding:0 5px !important; }
.pad-lr-10           { padding:0 10px !important; }
.pad-lr-15           { padding:0 15px !important; }
.pad-lr-20           { padding:0 20px !important; }
.pad-tb-5            { padding:5px 0 !important; }
.pad-tb-10           { padding:10px 0 !important; }
.pad-tb-15           { padding:15px 0 !important; }
.pad-tb-20           { padding:20px 0 !important; }
.pad-top-5           { padding-top:5px !important; }
.pad-top-10          { padding-top:10px !important; }
.pad-top-15          { padding-top:15px !important; }
.pad-top-20          { padding-top:20px !important; }
.pad-bottom-5        { padding-bottom:5px !important; }
.pad-bottom-10       { padding-bottom:10px !important; }
.pad-bottom-15       { padding-bottom:15px !important; }
.pad-bottom-20       { padding-bottom:20px !important; }
.pad-0               { padding:0 !important; }
.pad-5               { padding:5px !important; }
.pad-10              { padding:10px !important; }
.pad-15              { padding:15px !important; }
.pad-20              { padding:20px !important; }


/* ----- Margins ----- */

.margin-top-0        { margin-top:0 !important; }
.margin-top-5        { margin-top:5px !important; }
.margin-top-10       { margin-top:10px !important; }
.margin-top-15       { margin-top:15px !important; }
.margin-top-20       { margin-top:20px !important; }
.margin-top-30       { margin-top:30px !important; }
.margin-top-40       { margin-top:40px !important; }
.margin-bottom-0     { margin-bottom:0 !important; }
.margin-bottom-5     { margin-bottom:5px !important; }
.margin-bottom-10    { margin-bottom:10px !important; }
.margin-bottom-15    { margin-bottom:15px !important; }
.margin-bottom-20    { margin-bottom:20px !important; }
.margin-bottom-30    { margin-bottom:30px !important; }
.margin-bottom-40    { margin-bottom:40px !important; }
.margin-0            { margin: 0 !important; }
.margin-5            { margin: 5px !important; }
.margin-10           { margin: 10px !important; }
.margin-15           { margin: 15px !important; }
.margin-20           { margin: 20px !important; }
.margin-left-10      { margin: 0 0 0 10px !important; }
.margin-left-15      { margin: 0 0 0 15px !important; }
.margin-left-20      { margin: 0 0 0 20px !important; }
.margin-right-10     { margin: 0 10px 0 0 !important; }
.margin-right-15     { margin: 0 15px 0 0 !important; }
.margin-right-20     { margin: 0 20px 0 0 !important; }
.margin-minus-5      { margin: -5px !important; }
.margin-center       { margin: 0 auto; }


/* -------------------------------------
//   Screen readers
/* ------------------------------------- */

.sr-only {   
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; 
}
[hidden]			{ display: none !important; }


/* -------------------------------------
//   Other
/* ------------------------------------- */

.white				{ color: #fff !important; }
.grey-6				{ color: $grey-6; }
.full-width			{ width: 100%; }

hr {
  margin-bottom: 4em;
  border: 0;
  border-top: 1px solid $grey-border;
}

.fadeOut { position: relative; }




