/* *************************************
//   VARIABLES  [base/_variables.scss]
//   variable format should follow the `$component-modifier-state-property` order.
/* ************************************* */


/* -------------------------------------
//   Fonts
/* ------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,400,600|Dancing+Script");



/* -------------------------------------
//   Colours
/* ------------------------------------- */

$grey-2:                    #4a4a4a !default;
$grey-6:                    #636362 !default;
$grey-9:                    #999998 !default;
$grey-d:                    #d1d1d0 !default;

$grey-border:               #e4e4e4 !default;
$grey-background:           #fafafa !default;

$brand-primary:             #727c7d !default;
$brand-color-2:             #5bc0de !default;
$brand-color-3:             #d5c3aa !default;

$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;


/* -------------------------------------
//   Body
/* ------------------------------------- */

$body-bg:                    $grey-background !default;
$body-color:                 $grey-6 !default;


/* -------------------------------------
//   Layout
/* ------------------------------------- */

$nav-width:                  250px;


/* -------------------------------------
//   Links
/* ------------------------------------- */

$link-color:                 $brand-color-2 !default;
$link-hover-color:           darken($link-color, 30%) !default;
$link-hover-decoration:      underline !default;


/* -------------------------------------
//   Typography
/* ------------------------------------- */


$font-family-primary:        "Raleway", Arial, sans-serif !default;
$font-family-secondary:      "Dancing Script", serif !default;
$font-size-root:             16px !default;
$line-height:                1.8 !default;

$font-size-h1:               2.25rem !default;
$font-size-h2:               2rem !default;
$font-size-h3:               1.75rem !default;
$font-size-h4:               1.5rem !default;
$font-size-h5:               1.25rem !default;
$font-size-h6:               1rem !default;  

$headings-color:             $brand-primary;   
$headings-margin:            1rem;

$paragraph-color:            $grey-6;
$paragraph-margin:           0.75rem;  
$paragraph-font-size:        0.95rem;   
$paragraph-font-weight:      400;